---
const {currentLang} = Astro.props;

const currentPath = Astro.url.pathname.replace(/^\/(en|ca)/, '');

const caLocate = `https://byadri.dev/ca${currentPath}`;
const esLocate = `https://byadri.dev${currentPath}`;
const enLocate = `https://byadri.dev/en${currentPath}`;

Astro.cookies.set('lang', currentLang);
---

<div id="lang-picker">
  <a href={caLocate} id=`${currentLang === 'ca' && 'active'}` hreflang="ca">
    CA
  </a>
  <a href={esLocate} id=`${currentLang === 'es' && 'active'}` hreflang="es">
    ES
  </a>
  <a href={enLocate} id=`${currentLang === 'en' && 'active'}` hreflang="en">
    EN
  </a>
</div>