---
import '../styles/project-card.css';

import { Image } from 'astro:assets';

const {
  image,
  title,
  description,
  techs,
  ghLink,
  wbLink,
  viewWeb
} = Astro.props;
---

<div class="project-card">
  <div class="project-image">
    {image && <Image src={image} alt={title} width={482} height={270}/>}
  </div>
  <div class="project-card-outline" />
  <div class="project-content">
    <h3 class="project-title">{title}</h3>
    <p class="project-description">{description}</p>
    <div class="project-tags">
      {
        techs.map((tech: string) => (
          <span class="tech-tag">{tech}</span>
        ))
      }
    </div>
    <div class="project-links">
      {wbLink && <a href={wbLink}>{viewWeb}</a>}
      {ghLink && <a href={ghLink}>Github</a>}
    </div>
  </div>
</div>