---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';

const {
  title,
  description,
  ogTitle,
  ogDescription,
  currentLocale,
} = Astro.props;

const canonicalURL = Astro.url.href;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
      <meta charset="utf-8"/>
      <link rel="icon" href="/favicon.ico">
		  <meta name="generator" content={Astro.generator} />
      <meta name="viewport" content="width=device-width,initial-scale=1"/>
      <meta name="theme-color" content="#000000"/>
      <meta name="title" content={title}/>
      <meta name="og:title" content={ogTitle}/>
      <meta name="description" content={description}/>
      <meta name="og:description" content={ogDescription}/>
      <meta name="og:image" content="/portfolioScreenShot.png"/>
      <link rel="canonical" href={canonicalURL}/>
      <title>{title}</title>
      <ClientRouter />
  </head>
	<body>
		<slot />
    <div id="noise-grain" />
	</body>
</html>